body{
    font-family: Arial,sans-serif;
}
.container{
    background-color: #fcc3e4;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    height: 500px;
    align-items: center;
    justify-content: space-evenly;
}
.container h1{
    background: linear-gradient(45deg,black,deeppink);
    color: white;
    padding: 25px;
    text-align: center;
    margin: 10px;

}