body{
    background-color: lightcoral;
}
.container{

    width: 450px;
    height: 300px;
    margin: 100px auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
    overflow: hidden;

}
.container img{
    width: inherit;
    height: inherit;
    border-radius: 10px;
    transition: all 0.5s;

}
.container .content{
    position: absolute;
    top:0;
    color: wheat;
    font-family: "Comic Sans MS",sans-serif;
    background-color: rgba(0,0,0,0.5);
    width: 50%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transform: perspective(400px) rotateY(90deg);
    transform-origin: left;
    transition: all 0.5s;
    border-radius: 10px;

}
.container:hover .content{
    transform: perspective(400px) rotateY(0deg);
}
.container:hover img{
    transform: scale(1.2,1.2);
}