body{
    background-color: teal;
    font-family: Arial,sans-serif;
    color: white;
    text-align: center;
    padding-top: 180px;
}
h1{
    display: none;
}
/*-------mobile screen-----*/
@media (max-width: 500px) {
    body{
        background-color: lightgreen;

    }
    #mobile h1{
        display: block;
    }

}
/*---tablet---*/
@media (min-width: 501px) and (max-width: 768px)  {
    body{
        background-color: orangered;
    }
    #tablet h1{
        display: block;
    }
    
}
/*-- laptop----*/
@media (min-width: 769px) and (max-width: 1200px) {
    body{
        background-color: blueviolet;
    }
    #laptop h1{
        display: block;
    }

}
/*--- wide screen--*/
@media (min-width: 1201px)   {
    body{
        background-color: teal;
    }
    #wide-screen h1{
        display: block;
    }

}
div img{
    width: 100%;
}
